<div class="container">
  <div class="jumbotron text-center">
    <h1>Library</h1>
    <p>This is a simple(or not) test application</p>
    <div><%= link_to "Sign up now!", new_user_registration_path, class: 'btn btn-primary btn-lg' %></div>
    <div>Already have account? <%= link_to "Log in", new_user_session_path %></div>
  </div>
</div>
